/* @import url('https://fonts.googleapis.com/css?family=Thasadith');

.form {
    font-family: 'Thasadith', sans-serif;
    margin-top: -33%;
    margin-left: -46%;
}
/* label , .col-sm-4 {
    color: #dedddc ;
} */ 