body{
    background-image: url(https://us.123rf.com/450wm/malija/malija1510/malija151000056/46921520-maviden-turuncuya-arka-plan-renk-degrade.jpg?ver=6) ;
    background-repeat: no-repeat;
  background-size: 100%;
};